<% button_class = 'btn-lg' %>
<%- if action == :edit %>
    <% button_class = 'btn-sm' %>
<% end %>
<%- menu_item.recipes.each do |recipe_for_item| %>
    <div class="btn-group menu-item">
        <button type="button" class="btn btn-info <%= button_class %> dropdown-toggle recipe-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-recipe-id="<%= recipe_for_item.id %>" data-action="<%= action %>">
            <%- if menu_item.shopping_list == true && action == :edit %>
                <%= shopping_cart_icon(recipe_for_item.title, {}) %>
            <% else %>
                <%= recipe_for_item.title %>
            <% end %>
            <%- if action == :edit %>
              <span class="caret"></span>
            <% end %>
        </button>
        <%- if action == :edit %>
        <ul class="dropdown-menu">
            <li>&nbsp;<strong>&nbsp;Action</strong></li>
            <li><%= remove_link('Remove recipe from this slot', :class => 'btn-sm', :href => url(:menuplanner, :remove_menu_item_recipe, :id => menu.id, :menu_item_id => menu_item.id, :recipe_id => recipe_for_item.id),
                                                       :method => :delete,
                                                       :class => 'btn-sm ',
                                                       :confirm => 'Do you really want to delete the recipe from this menu slot?') %></li>
            <li><%= list_link('Toggle shopping list', :class => 'btn-sm', :href=> url(:menuplanner, :toggle_shopping_list, :id => menu.id, :menu_item_id => menu_item.id),
                            :method => :put,
                            :class => 'btn-sm ',
                            :confirm => 'Do you really want to remove the ingredients of this recipe from the shopping list?') %></li>
        </ul>
        <% end %>
    </div>
<% end %>
