<%- actions2(plus_link('Add tag', :href => url(:tag, :new), :class => 'btn btn-success')) %>

<div class="clearfix">
    <div class="row">
        <div class="text-center opacity-66">
            <%= select_tag :tag_name,
                           :options => tag_options,
                           :include_blank => true,
                           :id => "mtmd-family-cook-book-tag-name",
                           :name => 'mtmd_family_cook_book_tag[name]',
                           :selected => '',
                           :class => 'form-inline tag_typeahead_selector opacity-66' %>
        </div>
    </div>
</div>

<%= render_partial 'shared/pagination', :object => @pagination, :locals => { :action => :index } %>

<div class="panel">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3"><strong>Name</strong><br/></div>
            <div class="col-md-6"><strong>Description</strong></div>
            <div class="col-md-3"><strong>Action</strong></div>
        </div>
    </div>
    <div class="panel-body">
    <% @items.each_with_index do |tag, index| %>
        <div class="row row-pd row-<%= row_class(index) %>">
            <div class="col col-md-3"><%= link_to tag.name, url(:tag, :edit, id: tag.id) %></div>
            <div class="col col-md-6"><%= tag.description %></div>
            <div class="col col-md-3">
                <%- if tag.recipes.any? %>
                  <%= exclamation_link('Can not delete a referenced tag', :class => 'btn btn-info btn-xs') %>
                <% else %>
                  <%= trash_link('Delete tag', :href => url(:tag, :destroy, :id => tag.id), :method => :delete, :class => 'btn btn-danger btn-xs', :confirm => 'Do you really want to delete this tag?') %>
                <% end %>
            </div>
        </div>
    <% end %>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(
        function () {
            selector = FancySelector.prototype.initialize('.tag_typeahead_selector', '/familycookbook/tag/as_array', 'Type to find existing tag');
            selector.select2('open');
            selector.change("select2-selecting", function(e) {
                $(location).attr('href', '<%= url(:tag, :edit) %>' + e.delegateTarget.value);
            });
        }
    );
</script>
