<div class="row list-item-action-<%= action %> list-item-active-<%= item.active %> shopping-list-item-<%= item.color_code || 'default' %>">
    <%- if action == :edit_single %>
        <%= trash_link('', :class => 'btn btn-danger',
                    :href => url(:shoppinglist, :destroy_single_item, :id => shopping_list.id, :item_id => item.id),
                    :method => :delete,
                    :confirm => 'Do you really want to delete this shopping list item?') %>
    <% end %>
    <div class="col-md-0 pull-left">
        <%- if item.active == true %>
            <%- if action == :edit %>
                <%= checked_link('', :class => 'btn btn-success',
                            :href => url(:shoppinglist, :toggle_item_active, :id => shopping_list.id, :ingredient_id => item.ingredient_id, :unit_id => item.unit_id, :current => item.active),
                            :method => :put) %>
            <% elsif action == :edit_single %>
                <%= eye_open_link('', :class => 'btn btn-success',
                            :href => url(:shoppinglist, :toggle_single_item_active, :id => shopping_list.id, :shopping_list_item_id => item.id, :current => item.active),
                            :method => :put) %>
            <% else %>
                <%= checked_link('', :class => 'btn btn-success') %>
            <% end %>
        <% else %>
            <%- if action == :edit %>
                <%= remove_link(
                      '',
                      :class => 'btn btn-danger',
                      :href => url(:shoppinglist, :toggle_item_active, :id => shopping_list.id, :ingredient_id => item.ingredient_id, :unit_id => item.unit_id, :current => item.active),
                      :method => :put
                    )
                %>
            <% elsif action == :edit_single %>
                <%= eye_closed_link(
                  '',
                  :class => 'btn btn-danger',
                  :href => url(:shoppinglist, :toggle_single_item_active, :id => shopping_list.id, :shopping_list_item_id => item.id, :current => item.active),
                  :method => :put
                ) %>
            <% else %>
                <%= remove_link('', { :class => 'btn btn-danger' }) %>
            <% end %>
        <% end %>
    </div>
    <div class="col-md-11">
        <strong><%= item.ingredient_name %></strong> (<%= item.amount %> <%= item.unit_title %>)
    </div>
</div>
