<%- actions({ 'Add shopping list' => url(:shoppinglist, :new) }) %>

<table class="table">
    <thead>
        <th>
            Date & Name
        </th>
        <th width="15%">
            Action
        </th>
    </thead>
    <tbody>
    <% @items.each do |menu| %>
        <tr>
            <td>
                <strong>
                    <%# link_to 'Show', url(:shoppinglist, :show, id: menu.id) %>
                    <%= menu.range_begin.to_s+' - '+menu.range_end.to_s %> <%= menu.name %>
                </strong>
            </td>
            <td>
                <%= link_to 'Create from menu plan', url(:shoppinglist, :show, id: menu.id), :class => 'btn btn-primary btn-xs pull-left' %>

                <%= link_to 'Edit', url(:shoppinglist, :show, id: menu.id), :class => 'btn btn-primary btn-xs pull-left' %>
                <%= link_to 'Show', url(:shoppinglist, :show, id: menu.id), :class => 'btn btn-primary btn-xs pull-left' %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>

