<%- actions2([
  list_link('Show all', :href => url(:shoppinglist, :index), :class => 'btn btn-success')
]) %>

<%= edit_link('Single edit', :href => url(:shoppinglist, :edit_single, :id => @shopping_list.id), :class => 'btn btn-info btn-xs pull-right') %>
<%= trash_link('Delete', :href => url(:shoppinglist, :destroy, :id => @shopping_list.id), :method => :delete, :class => 'btn btn-danger btn-xs pull-right mg-right', :confirm => 'Do you really want to delete this shopping list? Any edited list items will be deleted!') %>
<%= edit_link('Edit', :href => url(:shoppinglist, :edit, :id => @shopping_list.id), :class => 'btn btn-primary btn-xs pull-right mg-right') %>

<h4><%= @shopping_list.title %></h4>

<%= render_partial 'shoppinglist/shopping_list_aggregated', :object => @shopping_list, :locals => { :action => :show } %>

