<div class="row menuplanner-row">
    <div class="col-md-2 menuplanner-day-label">
        <h3><%= day.strftime('%A') %></h3>
        <strong><%= day.strftime('%d.%m.%Y') %></strong>

        <div>
        <%- unless form.nil? %>
          <%= form.submit 'Update', :class => 'btn btn-success' %>
        <% end %>
        </div>
    </div>
    <div class="col-md-10 menuplanner-day-slots">
        <%- menu_item_slots.each do |slot_id| %>
        <%- items = menu.menu_items_for_day_and_slot(day, slot_id) %>
            <%- if action == :edit || items.any? %>
            <div class="col-md-1">
                <div class="pos-abs">
                    <div class="overflow-hidden slot-title-<%= menu_item_slot_normalized_name(slot_id) %>"><%= menu_item_slot_normalized_name(slot_id) %></div>
                </div>
            </div>
            <div class="col-md-11">
                <%- if action == :edit %>
                    <select class="recipe_typeahead_selector col-md-12" name="mtmd_family_cook_book_menu[new_item][<%= parse_date(day).to_s+'-'+slot_id.to_s %>][recipe_id]"></select>
                    <%= label_tag "shopping-list-#{parse_date(day).to_s+'-'+slot_id.to_s}", :caption => ' Add to shopping list' do
                      check_box_tag(:shopping_list,
                                    :id      => "shopping-list-#{parse_date(day).to_s+'-'+slot_id.to_s}",
                                    :checked => :checked,
                                    :class   => 'pull-left checkbox-shopping-cart',
                                    :name    => "mtmd_family_cook_book_menu[new_item][#{parse_date(day).to_s+'-'+slot_id.to_s}][shopping_list]"
                      )
                    end %>
                    <%= hidden_field_tag :slot,
                                         :name  => "mtmd_family_cook_book_menu[new_item][#{parse_date(day).to_s+'-'+slot_id.to_s}][slot]",
                                         :value => slot_id
                    %>
                    <%= hidden_field_tag :day,
                                         :name  => "mtmd_family_cook_book_menu[new_item][#{parse_date(day).to_s+'-'+slot_id.to_s}][day]",
                                         :value => parse_date(day)
                    %>
                    <div class="clearfix"></div>
                <% end %>
                    <%- items.each do |menu_item| %>
                        <%= render_partial 'menu_item/planner_form', :locals => { :action => action, :menu_item => menu_item, :menu => menu, :slot_id => slot_id, :day => day } %>
                    <% end %>
                    </div>
                <div class="clearfix"></div>
                <hr>
            <% end %>
        <% end %>
    </div>
</div>
