<%- actions({ 'Cancel' => url(:menuplanner, :show, :id => @menu.id) }) %>

<%- form_for :menu, url(:menuplanner, :update, :id => @menu.id), :method => :put, :class => 'form-horizontal' do |f| %>
  <%= render_partial 'menuplanner/form_fields', :object => f %>
  <%= f.submit 'Update', :class => 'btn btn-success' %>
    <%= link_to 'Done', url(:menuplanner, :show, :id => @menu.id),
                :class => 'btn btn-primary',
                :confirm => 'Are you sure to finish editing? You may have unsaved changes.' %>

<div class="panel panel-small">
    <div class="panel-body">
    <%- @menu.range_days.each do |day| %>
        <%= render_partial 'menuplanner/range_day', :locals => { :action => :edit, :menu => @menu, :day => day } %>
    <% end %>
    </div>
</div>

<% end %>

<script type="text/javascript">
$(document).ready(
  function () {
    FancySelector.prototype.initialize('.recipe_typeahead_selector', '/familycookbook/recipe/as_array', 'Select a recipe to add to this slot');
    DatePicker.prototype.initialize('daterangepicker-left', '<%= @range[:begin] %>');
    DatePicker.prototype.initialize('daterangepicker-right', '<%= @range[:end] %>');
    DatePicker.prototype.linkPickers('daterangepicker-left', 'daterangepicker-right');
  }
);
</script>
