<%- actions({ 'Show all' => url(:menuplanner, :index) }) %>

<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to 'Edit', url(:menuplanner, :edit, id: @menu.id), class: 'btn btn-primary pull-right' %>
    <h3><span class="label label-default"><%= @menu.range_begin %> - <%= @menu.range_end %></span> <%= @menu.name %></h3>
    <%= @menu.description %>
  </div>
</div>

<div class="panel panel-small">
<%- @menu.range_days.each do |day| %>
  <div class="panel-body">
    <h3><span class="label label-info col-md-12"><%= day.strftime('%d.%m.%Y %A') %></span></h3>
      <%- menu_item_slots.each do |slot_id| %>
        <div class="col-md-4 slot slot-<%= menu_item_slot_normalized_name(slot_id) %>">
            <h3 class="slot-title-<%= menu_item_slot_normalized_name(slot_id) %>"><span><%= menu_item_slot_normalized_name(slot_id) %></span></h3>
            <div class="clearfix"><hr></div>

        <%- if @menu.menu_items_for_day_and_slot(day, slot_id) %>
          <%- @menu.menu_items_for_day_and_slot(day, slot_id).each do |menu_item| %>
            <%= render_partial 'menu_item/planner_form', :locals => { :action => :show, :menu_item => menu_item, :menu => @menu, :slot_id => slot_id, :day => day } %>
          <% end %>
        <% end %>

        </div>
    <% end %>

  </div>
<% end %>
</div>
