<%- actions({ 'Show all' => url(:menuplanner, :index) }) %>

<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to 'Edit', url(:menuplanner, :edit, id: @menu.id), class: 'btn btn-primary pull-right' %>
    <h3><span class="label label-default"><%= @menu.range_begin %> - <%= @menu.range_end %></span> <%= @menu.name %></h3>
    <%= @menu.description %>
  </div>
</div>

<div class="panel panel-small">
    <div class="panel-body">
    <%- @menu.range_days.each do |day| %>
      <%= render_partial 'menuplanner/range_day', :locals => { :action => :show, :menu => @menu, :day => day } %>
    <% end %>
    </div>
</div>
