<%- actions2([
  remove_link('Cancel', :href => url(:recipe, :show, :id => @recipe.id), :class => 'btn btn-danger'),
  '&nbsp;'.html_safe,
  checked_link('Update', :href => '#', :id => 'recipe-form-'+@recipe.id.to_s+'-button', :class => 'btn btn-success')
]) %>

<%- form_for :recipe, url(:recipe, :update, :id => @recipe.id), :method => :put, :class => 'form-horizontal', :id => 'recipe' do |f| %>
  <%= render_partial 'recipe/form_fields', :object => f %>
  <%= f.submit 'Update', :class => 'btn btn-primary hidden', :id => 'recipe-form-'+@recipe.id.to_s+'-submit' %>
<% end %>

<%- unless @ingredient_quantity.blank? %>
    <%- action = :update_single %>
<%- else %>
    <%- action = :add_ingredient_quantity %>
<%- end %>

<% form_tag url(:recipe, action, :id => @recipe.id), :method => :post, :class => 'form-inline' do %>
<div id="recipe-ingredient-quantities" class="page-header">
  <%= flash_messages %>
  <div class="page-title">Ingredients for <%= input_tag :portions, :name => :portions, :value => portions_value(@recipe), :class => 'form-inline', :style => 'width:2.5em;' %> persons</div>
</div>

<div class="ingredient-quantities">
  <%= partial 'ingredient_quantity/list', :object => @recipe.ingredient_quantities, :locals => { :ingredient_quantity => @ingredient_quantity } %>
</div>
<% end %>


<div class="recipe-tags">
  <%= partial 'tag/list', :object => @recipe.tags %>
</div>

<script type="text/javascript">
$(document).ready(
  function () {
    AutoCompleter.prototype.initialize('#tag_name', '.remove-tag', '/familycookbook/tag/as_array');
    FancySelector.prototype.initialize('.ingredient_typeahead_selector', '/familycookbook/ingredient/as_array', 'Select an ingredient to add to the recipe');
    FancySelector.prototype.initialize('.unit_typeahead_selector', '/familycookbook/unit/as_array', 'Select a unit to use for this ingredient');

  }
);
</script>

<%= render_partial 'shared/js_bind_submit', :object => @recipe, :locals => { :object_name => 'recipe', :object => @recipe, :action => :edit } %>
