<%- actions({ 'Show all' => url(:recipe, :index) }) %>

<div class="panel panel-default">
    <div class="panel-body">
        <h4><%= @recipe.title %> <small><%= @recipe.type %></small></h4>

        <div class="panel panel-default recipe-infobox">
            <div class="panel-body col-sm-6">
                <div class="row">
                    <div class="col-sm-4"><%= clock_icon('') %>&nbsp;<strong>Vorbereitung:</strong></div>
                    <div class="col-sm-8"><%= @recipe.duration_preparation %></div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><%= clock_icon('') %>&nbsp;<strong>Kochen:</strong></div>
                    <div class="col-sm-8"><%= @recipe.duration_cooking %></div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><%= star_icon('') %>&nbsp;<strong>Schwierigkeit:</strong></div>
                    <div class="col-sm-8"><%- @recipe.difficulty.to_i.times do |item| %>
                    <%= emptystar_icon('') %>
                    <% end %></div>
                </div>
            </div>
            <div class="panel-body col-sm-6">
                <div class="row">
                    <div class="col-sm-4"><%= cutlery_icon('') %>&nbsp;<strong>Material&nbsp;(Stück):</strong></div>
                    <div class="col-sm-8"><%= @recipe.cookware_amount %></div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><%= heartempty_icon('') %>&nbsp;<strong>Kalorien:</strong></div>
                    <div class="col-sm-8"><%= @recipe.calorie_indication %></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <%= @recipe.description.html_safe %>
        <br/>
        <br/>
        <div class="clearfix"></div>

        <div class="panel panel-default recipe-tipandtricks">
            <div class="panel-body">
                <h5><strong>Tipps und Tricks</strong></h5>
                <%= @recipe.tips_and_tricks %>

            </div>
        </div>
    </div>
</div>


<div class="tags">
    <%= partial 'tag/list', :object => @recipe.tags %>
</div>


<table class="table">
    <tbody>
    <tr>
        <td>
            <%= link_to 'Edit', url(:recipe, :edit, id: @recipe.id), class: 'btn btn-primary' %>
        </td>
        <td>
            <div class="pull-right">
            <%= link_to 'Delete', url(:recipe, :destroy, id: @recipe.id), class: 'btn btn-danger', :method => :delete, confirm: 'Are you sure?' %>
            </div>
        </td>
    </tr>
                    </tbody>
</table>


<div class="ingredient-quantities">
  <%= partial 'ingredient_quantity/list', :object => @recipe.ingredient_quantities, :switch => 'show' %>
</div>
