<%- actions({ 'Show all' => url(:recipe, :index) }) %>

<table class="table">
  <thead>
  <%= attribute_row(@recipe, :type) %>
  <%= attribute_row(@recipe, :title) %>
  <%= attribute_row(@recipe, :difficulty) %>
  </thead>
  <tbody>
  <%= attribute_row(@recipe, :description) %>
  <%= attribute_row(@recipe, :duration_preparation) %>
  <%= attribute_row(@recipe, :duration_cooking) %>
  <%= attribute_row(@recipe, :cookware_amount) %>
  <%= attribute_row(@recipe, :tips_and_tricks) %>
  <%= attribute_row(@recipe, :calorie_indication) %>
  </tbody>
</table>


<div class="tags">
    <%= partial 'tag/list', :object => @recipe.tags %>
</div>


<table class="table">
    <tbody>
    <tr>
        <td>
            <%= link_to 'Edit', url(:recipe, :edit, id: @recipe.id), class: 'btn btn-primary' %>
        </td>
        <td>
            <div class="pull-right">
            <%= link_to 'Delete', url(:recipe, :destroy, id: @recipe.id), class: 'btn btn-danger', :method => :delete, confirm: 'Are you sure?' %>
            </div>
        </td>
    </tr>
                    </tbody>
</table>


<div class="ingredient-quantities">
  <%= partial 'ingredient_quantity/list', :object => @recipe.ingredient_quantities, :switch => 'show' %>
</div>
