<div class="panel">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-3"><strong>Amount</strong><br/></div>
      <div class="col-md-5"><strong>Ingredient</strong></div>
      <div class="col-md-2"><strong>Details</strong></div>
      <div class="col-md-2">&nbsp;</div>
    </div>
  </div>
  <div class="panel-body">
    <%- if route.path_for_generation.include? "edit" %>
      <%- unless ingredient_quantity %>
        <%= partial 'ingredient_quantity/edit_item', :locals => { :ingredient_quantity => nil } %>
      <% end %>
    <% end %>
    <% @recipe.ingredient_quantities.sort_by { |a| a.ingredients.first.title.downcase }.each_with_index do |ingredient_quantity, index| %>
      <%- if params[:ingredient_quantity_id].to_i == ingredient_quantity.id %>
        <%= partial 'ingredient_quantity/edit_item', :locals => { :ingredient_quantity => ingredient_quantity } %>
      <% else %>
        <div class="row row-pd row-<%= row_class(index) %>">
          <div class="col-md-2"><%= ingredient_quantity.amount %> <%= ingredient_quantity.units.first.short_name %></div>
          <div class="col-md-6"><%= ingredient_quantity.ingredients.first.title %> (Angabe für <%= ingredient_quantity.portions %> Pers.)</div>
          <div class="col-md-2"><%= ingredient_quantity.description %></div>
          <div class="col-md-2">
            <%- if route.path_for_generation.include? "edit" %>
              <%= edit_link('Edit', :href => url(:recipe, :edit_single, :id => @recipe.id, :ingredient_quantity_id => ingredient_quantity.id), :method => :get, :class => 'btn btn-primary btn-xs') %>
              <%= remove_link('Remove', :href => url(:recipe, :remove_ingredient_quantity, :id => @recipe.id, :ingredient_quantity_id => ingredient_quantity.id), :method => :delete, :class => 'btn btn-danger btn-xs', :confirm => 'Do you really want to delete this ingredient from the recipe?') %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

