<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>FamilyCookBook</title>
    <%= stylesheet_link_tag 'bootstrap.min', 'application' %>
    <%= javascript_include_tag 'jquery', 'jquery-ujs', 'bootstrap.min' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>
<body>
<div id="main">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <%= link_to 'FamilyCookBook', url(:index, :index), :class => 'navbar-brand', :title => 'FamilyCookBook' %>
            <ul class="nav navbar-nav">
              <%= navigation_item(:index, url(:index, :index), 'Übersicht') %>
              <%= navigation_item(:recipe, url(:recipe, :index), 'Rezepte') %>
              <%= navigation_item(:ingredient, url(:ingredient, :index), 'Zutaten') %>
              <%= navigation_item(:tag, url(:tag, :index), 'Tags') %>
              <%= navigation_item(:tag, url(:unit, :index), 'Units') %>
            </ul>
            <ul class="nav navbar-nav pull-left">
            </ul>
        </div>
    </div>
    <div class="container">
        <%= flash_messages %>
    </div>
    <div class="container">
        <div class="page-header clearfix">
            <div class="pull-right">
                <%= yield_content :actions %>
                <%- if route.path_for_generation.include? "inspector" %>
                <% end %>
            </div>
            <div class="page-title">
                <%= page_header_from_current_route %>
            </div>
        </div>
    </div>
    <div class="container">
        <%= yield %>
    </div>
</div>
</body>
</html>
