<%- actions2(plus_link('Add ingredient', :href => url(:ingredient, :new), :class => 'btn btn-success')) %>

<%= render_partial 'shared/pagination', :object => @pagination, :locals => { :action => :index } %>

<div class="clearfix">
  <div class="row">
    <div class="text-center opacity-66">
      <%= select_tag :ingredient_title,
                     :options => ingredients_options,
                     :include_blank => true,
                     :id => "mtmd-family-cook-book-ingredient-title",
                     :name => 'mtmd_family_cook_book_ingredient[title]',
                     :selected => '',
                     :class => 'form-inline ingredient_typeahead_selector opacity-66' %>
    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6"><strong>Title</strong><br/></div>
      <div class="col-md-3"><strong>Type</strong></div>
      <div class="col-md-3"><strong>Action</strong></div>
    </div>
  </div>
  <div class="panel-body">
    <% @items.each_with_index do |ingredient, index| %>
    <div class="row row-pd row-<%= row_class(index) %>">
      <div class="col col-md-6"><%= link_to ingredient.title, url(:ingredient, :edit, id: ingredient.id) %></div>
      <div class="col col-md-3"><%= ingredient.type %></div>
      <div class="col col-md-3">
        <%= edit_link('Edit', :href => url(:ingredient, :edit, :id => ingredient.id), :class => 'btn btn-success btn-xs') %>
        <%- if ingredient.used_in_recipes.any? || ingredient.used_in_shopping_lists.any? %>
          <%= exclamation_link('', :class => 'btn btn-danger btn-xs warningToolTip', :title => 'Can not delete a referenced ingredient!') %>
        <% else %>
          <%= trash_link('Delete ingredient', :href => url(:ingredient, :destroy, :id => ingredient.id), :method => :delete, :class => 'btn btn-danger btn-xs', :confirm => 'Do you really want to delete this ingredient?') %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(
      function () {
        $('.warningToolTip').aToolTip();

        selector = FancySelector.prototype.initialize('.ingredient_typeahead_selector', '/familycookbook/ingredient/as_array', 'Type to find existing ingredient');
        selector.select2('open');
        selector.change("select2-selecting", function(e) {
          $(location).attr('href', '<%= url(:ingredient, :edit) %>' + e.delegateTarget.value);
        });
      }
  );
</script>
