<%- actions({ 'Show all' => url(:ingredient, :index) }) %>

<div class="panel panel-default">
  <div class="panel-body">
    <h3><%= @ingredient.title %> (<%= @ingredient.type %>)</h3>
    <%= @ingredient.description.html_safe %>
  </div>
</div>


<div class="btn-group">
  <%= link_to 'Edit', url(:ingredient, :edit, id: @ingredient.id), class: 'btn btn-primary' %>
</div>
<div class="btn-group pull-right">
  <%= link_to 'Delete', url(:ingredient, :destroy, id: @ingredient.id), class: 'btn btn-danger', :method => :delete, confirm: 'Are you sure?' %>
</div>
